In [52]:
import pandas as pd 
import seaborn as sns 
import requests
import imfp

# key = 017c46c82e874eb:qym26zxuaeyd8t2

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2023835922.py, line 4)

In [46]:
df = pd.read_csv('C:/Users/eschmit/Projects/pw/PWC/Data/BA/BA900_2025-02-01_zipcsv/25054.csv', header =117 )
x = df[df['Item Number'] == '110']['TOTAL ASSETS (Col 1 plus col 3)']
x

7    447303623
Name: TOTAL ASSETS (Col 1 plus col 3), dtype: object

In [49]:
import os
import pandas as pd

# Base folder where your subfolders with dates are
base_folder = r'C:/Users/eschmit/Projects/pw/PWC/Data/BA/'

results = []

for root, dirs, files in os.walk(base_folder):
    for file in files:
        if file.lower().startswith('total') and file.lower().endswith('.csv'):
            file_path = os.path.join(root, file)
            
            # Extract date from folder name, e.g., BA900_2023-02-01_zipcsv -> 2023-02-01
            folder_name = os.path.basename(root)
            match = re.search(r'\d{4}-\d{2}-\d{2}', folder_name)
            date = match.group(0) if match else folder_name
            
            try:
                df = pd.read_csv(file_path, header=117)
                x = df.loc[df['Item Number'] == '110', 'TOTAL ASSETS (Col 1 plus col 3)']
                
                if not x.empty:
                    results.append({'date': date, 'sx': x.values[0]})
            
            except Exception as e:
                print(f"Failed to process {file_path}: {e}")

final_df = pd.DataFrame(results)
final_df = final_df.sort_values('date').reset_index(drop=True)
final_df

          date               sx
0   2023-02-01  5150892498.2187
1   2023-03-01  5070578507.7447
2   2023-04-01  5144020059.5983
3   2023-05-01  5172181302.6334
4   2023-06-01  5156671665.2057
5   2023-07-01  5139692963.6256
6   2023-08-01  5176257264.1184
7   2023-09-01  5216916681.9143
8   2023-10-01  5157681675.4036
9   2023-11-01  5222850070.1836
10  2023-12-01  5236150714.1627
11  2024-01-01  5283910425.5125
12  2024-02-01  5345141856.1053
13  2024-03-01  5418317444.8343
14  2024-04-01  5394470850.6797
15  2024-05-01  5351569896.5337
16  2024-06-01  5374193989.5996
17  2024-07-01  5442070066.1244
18  2024-08-01  5474966259.7727
19  2024-09-01  5552195455.1419
20  2024-10-01  5521228079.7046
21  2024-11-01  5562976249.6031
22  2024-12-01   5614645644.646
23  2025-01-01  5645267803.4881
24  2025-02-01  5653237083.1491

In [ ]:
indicators = imfp.imf_indicators()
weo_indicators = indicators[indicators['DATABASE'] == 'WEO']
print(weo_indicators.head())

In [ ]:

# Fetch Real GDP Growth Rate data for South Africa from the World Economic Outlook database
df = imfp.imf_dataset(
    database_id="WEO",  # World Economic Outlook database
    indicator_id="NGDP_RPCH",  # Real GDP Growth Rate indicator
    country_id="ZA",  # South Africa
    freq=["A"],  # Annual frequency
    start_year=2023,  # Start year
    end_year=2025  # End year
)

df

In [ ]:
indicators = imfp.imf_indicators()
print(indicators)